<head>
<head>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/welcome_stylesheet.css" />
</head>

<div>
  <span id="title"><h1>CODEBREAKER</h1></span>
  <br><br>
  Welcome to Masterm-I mean CODEBREAKER (pls no sue)!
  <br>
  Begin?
  <br>
  <button>BEGIN!</button>
</div>
